* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*formato de la pagina para que no se vea la scrollbar horizonatal  */
body {
    width: 100vw;
    overflow-x: hidden;
}




/* iniciobarra de navegacion */
.navbar-about {
    background: #D3CCE3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #E9E4F0, #D3CCE3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #E9E4F0, #D3CCE3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
    background-color: #D9D9D9;
}

.navbar-brand {
    color: #F20707 !important;
    /* se usa el !important para superponer a otro codigo el mismo modificador */
    font-weight: bold;
    font-size: larger;
}

.navbar-brand img {
    height: 70px;
}

/* color de iconos de nav */
.nav-link {
    color: black;
}

/* fin de barra de navegacion */
.form-control-w5 {
    width: 3rem !important;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* inicio de banner */
.Jumbotron {
    height: 400px;
    background-image: url(../public/img/pan_dulce_duo-min.webp);
    font-weight: bolder;
    background-position: center;
    background-size: cover;
}

.sombras {
    text-shadow: 0 0 5px black;
}

/* fin de banner */
/* inicio de banner logo*/
.jumbotron-logo {
    height: 400px;
    max-width: 800px;
    background-image: url(../img/logoObrador.png);
    font-weight: bolder;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-primary {
    background-color: #ffffff !important;
}

.sombras-logo {
    color: #F20707;
    text-shadow: 0 0 5px #F2F2F2;
}

/* fin de banner */
/* inicio del carrousel */
carrousel {
    width: 100vw;
}

.carousel-item {
    width: 100vw;
    max-height: 500px;
}

/* fin del carrousel */
.img-about {
    width: 70vw;
    height: 80vh;
    border: 0px solid #F20707;
    border-radius: 25px;
    margin: 0 auto;
    background-image: url(./img/pan_dulce_duo-min.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
}

/* inicio de presentacion de productos */
.prod-left {
    background-image: url(./img/pastafrola_cerca-min.webp);
    height: 200px;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}

.prod-right {
    padding: 20px;
}

.prod2-left {
    background-image: url(./img/pan_d_lado-min.webp);
    height: 200px;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}

.prod2-right {
    padding: 20px;
}

.prod3-left {
    background-image: url(./img/pasta_rellena-min.webp);
    height: 200px;
    background-position: center;
    background-size: cover;
}

.prod3-right {
    padding: 20px;
}

/* fin de presentacion de productos */
/* inicio de presentacion de sevicios */
.serv-left {
    background-image: url(../public/img/yo_cortando.webp);
    height: 200px;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}

.serv-right {
    padding: 20px;
}

.serv2-left {
    background-image: url(../public/img/delivery-guy-1424808_1280.png);
    height: 200px;
    background-position: top;
    background-size: cover;
    margin-bottom: 40px;
}

.serv2-right {
    padding: 20px;
}

.serv3-left {
    background-image: url(../public/img/alfajores_choco_p-min.webp);
    height: 200px;
    background-position: center;
    background-size: cover;
}

.serv3-right {
    padding: 20px;
}

/* fin de presentacion de sevicios */
/* inicio imagen de corte productos 2  */
.imagen-de-corte2 {
    height: 200px;
    width: 80%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.conteinerimg {
    height: 150px;
    width: 80%;
    background-image: url(../../public/media/img/pan_d_lado-min.webp);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

/* fin imagen de corte productos 2  */
/* inico de lista de productos pagProductos.html */
.tablas-prodcuctos {
    width: 90%;
    margin: 0 auto;
}

/* fin de lista de productos pagProductos.html */
.center_recetas {
    margin: 0 auto;
    width: 90vw;
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    width: 70vw;
    height: 70vh;
    max-width: 600px;
    max-height: 600px;
    border: 1px solid black;
    border-radius: 25px;
    margin: auto;
    padding: 15px;
}

.carrito-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    width: 90vw;
    height: 80vh;
    max-width: 600px;
    max-height: 600px;
    border: 1px solid black;
    border-radius: 25px;
    margin: auto;
    padding: 15px;
    overflow: auto;
}

.texto-about {
    width: 80vw;
    height: 60vh;
    border: 0px solid black;
    border-radius: 25px;
    padding: 20px;
    text-shadow: 0 0 1px black;
    background-color: rgba(255, 255, 255, 0.062);
    margin: 0 auto;
    margin-bottom: 60px;
    overflow: auto;
}

.list-group-item.active {
    background-color: #F20707;
    border-color: #F20707;
}

